.contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	margin: 40px;
	transition: all 1s;
	box-shadow: 4px 4px 5px 5px #888888;
}
img:hover {
	transform: scale(1.2);
}

.modal-header{
	background-color: #CBCDCC;
}